{% extends "todoapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Your profile
{% endblock title %}

{% block content %}

{% if confirm %}
    <div class="alert alert-primary" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>Your profile has been updated
    </div>
{% endif %}

<div class="text-center">
    <img src="{{profile.avatar.url}}" alt="my-profile" class="avatar-big">
</div>

<br>
<form class= "profile-form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <div class="profile-buttons">
        <button type="submit" class="btn btn-primary mt-3">Update</button>
    <a href="{% url 'todolist:my_todos' %}" class="btn btn-primary mt-3"> Exit </a>
    </div>
    
</form> 

{% endblock content %}