# Python
*.py[cod]
*.$py.class

# VS Code
*.vscode
**/.vscode/

# venv
DJANGO-TODO-APP/env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Django
*.log
*.pot
*.pyc
*__pycache__
# *media
*.DS_Store

# Backup Files
*.bak

#static files
DJANGO-TODO-APP/staticfiles
./staticfiles
