# Python
*.py[cod]
*.$py.class

# VS Code
*.vscode

# venv
todoapp/env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*__pycache__
db.sqlite3
local_settings.py
# *media
*.DS_Store

# Backup Files
*.bak


