{% load static %}

<footer class="main-footer">
    <div class="container">
      <nav class="footer-nav">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="https:www.twitter.com" class="social-link">
              <img src="{% static 'twitter.svg' %}">
              Twitter
            </a>
          </li>
          <li>
            <a href="https:www.facebook.com" class="social-link">
              <img src="{% static 'facebook.svg' %}">
              Facebook
            </a>
          </li>
        </ul>
      </nav>
    </div>
</footer>