{% extends "todoapp/base.html" %}

{% block title %}
 Main
{% endblock title %}

{% block content %}

<section class="home-main-section ">
  
  <div class="call-to-action">
      <h1 class="title">Achieve all your daily and weekly <span class="team">TEAM</span>  objectives in timely fashion :)</h1>
      <h3 class="subtitle"> <strong>ToDo</strong> makes it easy to create and organize your tasks </h3>
      <a href="{% url 'login' %}" class="btn">Let’s get started</a>
  </div>

</section>


{% endblock content %}