
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* app */

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
    min-height: 100vh;
    overflow-x: hidden;
} 

ul {
    list-style-type: none;
}

/* sidebar */

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #313544;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    position: fixed;
    overflow-x: hidden;
}
.wrapper .sidebar .top-sidebar{
    color: #fff;
    background: #a48bd5;
    margin-bottom: 20px;
    padding: 30px 0px 30px 5px;
    text-transform: uppercase;
}

.wrapper .sidebar ul{
    padding-left: 0px;
}

.wrapper .sidebar ul li{
    padding: 20px 20px 20px 10px; 
}
.wrapper .sidebar ul li .active{
    color: #fff;
}
.wrapper .sidebar ul li a{
    color: #8f939b;
    display: block;
}

.wrapper .sidebar ul li a .fa{
    width: 35px;
}

.wrapper .sidebar ul li:hover{
    background-color: #1d202d;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
    text-decoration: none;
}

.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #8f939b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  } 


@media (max-height: 480px){
    .wrapper .sidebar .social_media a{
        display: none;
    }
}

.openbtn{
      font-size: 20px;
      cursor: pointer;
      border: none;
      background-color: inherit;
      padding: 10px 15px;
}

.sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 36px;
      margin-left: 50px;
      text-decoration: none;
      color: #3d3d46;
}

@media (min-width: 880px) {
    .openbtn{
        display: none;
    }
    .sidebar .closebtn{
        display:none
    }
}

 /* welcome card */
.wrapper .main_content, .wrapper .task_content, .wrapper .profile_content{
    width: 100%;
    margin-left: 200px;
    /* height: 100%; */
} 
.wrapper .main_content .welcome, .wrapper .task_content .welcome, .wrapper .profile_content .welcome{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height:100px;
    padding: 30px 0px 0px 20px;
    margin-bottom: 20px;
}
.main_content .welcome .taskAdd{
    float: right;
}
.welcome-text{
    color: #3d3d46;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}
.taskAdd {
    margin-bottom:10px;
    margin-right: 20px;
} 

.Addtask, .displayTasks{
    text-align: center;
}

.displayTasks{
      margin-bottom: 20px;
      padding-top: 15px;
}

.displayTasks button{
    color:red;
}

.Addtask .btn{
    color: #e2e1e6;
    background-color: #323647;
    padding: .75rem 1.2rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.category-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0px 20px; 
    border-radius: 10px;
}
.category{
    padding: 10px 0px 0px 0px;
    margin-bottom: 20px;
}
.vl {
    border-left: 3px dashed #ebecf0;
    height: 95px;
  }

.category1{
    padding-left: 10%;
    padding-right: 10%;
}
.category2{
    padding-left: 10%;
    padding-right: 10%;
}
.category3{
    padding-left: 10%;
    padding-right: 10%;
}
.category1 .cat1{
    color: #C13434;
}
.category2 .cat2{
    color: #1D99AA;
}
.category3 .cat3{
    color: #94C134;
}

@media (max-width: 1178px) {
    .category1{
        padding-left: 5%;
        padding-right: 5%;
    }
    .category2{
        padding-left: 5%;
    }
    .category3{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media (max-width: 797px) {
    .category1{
        padding-left: 3%;
        padding-right: 3%;
    }
    .category2{
        padding-left: 3%;
        padding-right: 3%;
    }
    .category3{
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media (max-width: 493px) {
    .category1{
        padding-left: 1%;
        padding-right: 1%;
    }
    .category2{
        padding-left: 1%;
        padding-right: 1%;
    }
    .category3{
        padding-left: 1%;
        padding-right: 1%;
    }
}
@media (max-width: 600px) {
    .welcome-text{
        font-size: 1.2rem;
    }
}
@media (max-width: 500px) {
    .category1 .cat1{
        font-size: 12px;
    }
    .category2 .cat2{
        font-size: 12px;
    }
    .category3 .cat3{
        font-size: 12px;
    }
    .taskAdd .btn {
        padding: .7rem .95rem;
        margin-top: 7px;
    }
    .welcome-text{
        font-size: 1.0rem;
    }
}
@media (max-width: 438px) {

    .taskAdd .btn {
        padding: .5rem .75rem;
        margin-top: 7px;
    }
 
}
@media (max-width: 800px) {
    .Add, .Delete{
        display: none;
    }
}

@media (max-width: 880px) {
    .wrapper .main_content, .wrapper .task_content, .wrapper .profile_content {
        margin-left: 0;
    } 
    .wrapper .sidebar{
        top: 0;
        left: 0;
        overflow-x: hidden;
        z-index: 1;
    }
}
.heading{
    color: #1c2327;
    margin-left: 25px;
    padding-top: 20px;
    font-weight: bold;
    font-size: larger;
}
#count{
    font-weight: bold;
    font-size: 30px;
}
.task-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px 20px; 
    border-radius: 10px;
}

@media (max-width: 320px) {
    .Add, .Delete{
        display: none;
    }
}
/* Task Management page styling */
.buttons {
    text-align:center;
    margin-bottom: 20px;
}

.done{
    text-align: center;
    margin-bottom: 10px;
}
.taskDelete {
    float: right;
    margin-right: 2px;
}
.taskDelete:hover {
    background: #c0392b;
    cursor: pointer;
}

@media (max-width: 705px) {
    .taskDelete  {
        float: none;
    }
}
.taskList {
    padding: 0 15px;
    padding-bottom: 5px;
}
.currentTaskItem, .overdueTaskItem {
    border-top: 1px solid #ebecf0;
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: 0.2px;
}

.taskList .taskDatee {
    text-transform: uppercase;
}
.taskDate, .taskTime {
    width:230px;
    padding-left: 10px;
    margin-left: 30px;
    border: none;
    margin-right: 120px;
}

.taskCategory{
    width:230px;
    height: 30px;
    border: none;
    margin-right: 120px;
}
.taskCategory:focus, .taskDate:focus, .taskTime:focus {
    outline:none;
    border: none;
}
.taskCategory:hover, .taskDate:hover, .taskTime:hover {
    cursor: pointer;
}

@media(max-width: 500px) {
    .taskCategory, .taskDate, .taskTime  {
        margin-right: unset;
    }
}

@media (max-width: 455px) {
    .taskCategory{
        width:220px;
    }
    .taskDate, .taskTime {
        width:250px;
        margin-left: 0;
    }
}

[class*='categoryy-'] {
    font-size: 10px;
    vertical-align: middle;
    padding: 5px;
    width: 75px;
    float: right;
    text-align: center;
    border-radius: 15px;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}

@media (max-width: 1000px) {
    .categoryy-Personal {
        float: none;
    }
    .categoryy-Business {
        float: none;
    }
    .categoryy-Other {
        float: none;
    }
}

.categoryy-Personal, .categorypage-Personal{
    color: #1D99AA;
}
.categoryy-Business, .categorypage-Business {
    color: #C13434;
}
.categoryy-Other, .categorypage-Other {
    color: #94C134;
}

.No-task{
    text-align: center;
    color:#8f939b;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* User Avatar */
.profile-form .form-control {
    /* line-height: 0.9; */
    width: 100%;
}

.avatar-big {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.avatar-sm{
    height: 40px;
    width:  40px;
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width: 475px)  {
    .avatar-big {
        height: 100px;
        width: 100px;
    }
}
.text-center{
    text-align: center;
}
/* alert */
/* The alert message box */
.alert{
    margin-right: auto;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto; 
    width: 50%;
  }

.alert-profile{
    text-align: center;
}
.alert ul{
    padding-left:0 !important;
}
 /* The close button */

 .closebtns {
    margin: 0 15px;
    color: #775959;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
.closebtn:hover{
    color: #F6F0F0;
  }

.closebtns:hover{
    color: red;
  }

/* Main_Page Text Style */
.Home{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(task.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  

.call-to-action {
    margin: 1rem;
    text-align: center;
    } 
  
  
.call-to-action h3{
       margin-top: 30px;
      font-size: 1.4rem;
    }
  
.call-to-action h3 strong{
      color: #EB444E;
    }
  
.btn {
      color: #e2e1e6;
      background-color: rgb(50, 54, 71);
      padding: .75rem 1.5rem;
      border-radius: .5rem;
      text-decoration: none;
      font-size: .9rem;
      outline: none;
      border: none;
      cursor: pointer;
    }

#currentTasksButton{
    background-color: whitesmoke;
}
  
.register input[type="text"]{
    height: revert;
    margin-left: 0px;
    font-size: inherit;
}

.register input{
    width: 90%;
    padding-left: 5px;
    border: 1px solid rgba(0,0,0,.15);
    border-left: none;
    border-radius: 0 .25rem .25rem 0;
}

.input-group .fa-user{
    padding-left: 5px;
    padding-right: 5px;
}

.input-group-addon{
    border: none;
}

.Register-Header, .Login-Header{
    text-align:center;
}

.mb-5 {
    margin-bottom: 1rem!important;
}

.register label{
    margin-bottom: 5px;
}

.reg_error{
    color:red;
}
.input-group{
    margin-bottom: 10px;
}

/* TaskManagement */

#description{
    width: 350px;
    margin-left: 30px;
    border: none;
}
#description:focus{
    border: none;
    outline: none;
}

@media (max-width: 490px) {
    #description{
        width: 320px;
    }
}
@media (max-width: 455px) {
    #description{
        width: 350px;
        margin-left: 0;
    }
}
.inputContainer {
    border-top: 1px solid #ebecf0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
 }

 @media(max-width: 720px) {
    .inputContainer {
        margin-left: unset;
        margin-right: unset; 
    }
}
@media(max-width: 500px) {
    .inputContainer {
        display: revert;
    }
}

.content form{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin: 0px 20px;
    border-radius: 10px;
}

.categories .time{
    padding-bottom: 5px;
}

.categories .date{
    border-bottom: 1px solid #ebecf0;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

form .Task{
    padding-top: 10px;
}

@media (max-width: 450px)  {
    #description{
        width: 300px;
    }
}
@media (max-width: 410px)  {
    #description{
        width: 250px;
    }
}
 /* Login */

.login, .register{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginbtn, .registerbtn{
    text-align:center;
}

.logged_in a, .registered a{
    color: darkred;
}

.logged_in a:hover, .registered a:hover{
    text-decoration: none;
}


.logged_in , .registered {
    margin: 0 20px;
}
.loginbtn button:hover, .registerbtn button:hover, .btn:hover{
    background-color: rgb(50, 54, 71);
}

.login .textinput, .register .textinput{
    margin-left: unset;
}

form {
    border-radius: .5rem;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.asteriskField {
    display: none;
}
@media (min-width:699px) and (max-width: 827px) {
    .login, .register{
        width: 70%;
    }
}

@media (min-width:421px) and (max-width: 698px) {
    .login, .register{
        width: 95%;
    }
}
@media (max-width: 551px)  {
    .login, .register{
        top: 55%;
    }
}
@media (max-width: 420px) {
    .login, .register{
        width: 100%;
    }
}
/* Profile */

.profile-form{
    margin: 0 150px;
}
.profile-buttons{
    text-align: center;
}

.profile-form a{
    color: #E03D3D;
}

.profile-form .btn{
    color: #e2e1e6 !important;
}

.profile-form #div_id_avatar{
    margin-top: 5px;
    margin-bottom: 0px;
}

#div_id_bio{
    margin-bottom: 0 !important;
}
/* #div_id_avatar div{
    margin-top: 5px !important;
} */

@media (max-width: 1035px) {
    .profile-form{
        margin: 0 100px;
    }
}

@media (max-width: 400px) {
    .profile-form {
    margin: 0 70px;
    }
}

/* logo */
.Logo_Name a{
    text-decoration: black;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 3px;
}

.brand-logo:hover{
    text-decoration: none;
    color: black;
}

.brand-logo-name{
   color:#eb444e;
}

.call-to-action a:hover{
    text-decoration: none;
    color: black;
}

.logo{
  margin-bottom: 15px;
  height: 50px;
}

.subtitle {
    position: absolute;
    bottom: 20vh;
    left: 20%;
    right: 20%;
}
.call-to-action a{
    position: absolute;
    bottom: 14vh;
    left: 43%;
    right: 43%;
}
@media (max-width: 1030px) {
    .call-to-action a{
        left: 40%;
        right: 40%;
    }
}
@media (max-width: 750px) {
    .call-to-action a{
        left: 37%;
        right: 37%;
    }
}

@media (max-width: 567px) {
    .call-to-action a{
        left: 35%;
        right: 35%;
    }
}

@media (max-width: 512px) {
    .call-to-action a{
        left: 33%;
        right: 33%;
    }
}

@media (max-width: 512px) {
    .call-to-action a{
        left: 30%;
        right: 30%;
    }
}

@media (max-width: 893px) {
    .subtitle {
        left: 10%;
        right: 10%;
    }
}
/* Task display Css */
.ease {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}


.tabs {
	background: #fff;
	position: relative;
}

.tabs > input,
.tabs > span {
	width: 20%;
	height: 60px;
	line-height: 60px;
	position: absolute;
	top: 0;
}

.tabs > input {
	cursor: pointer;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	z-index: 99;
}

.tabs > span {
	background: #f0f0f0;
	text-align: center;
	overflow: hidden;
}

.tabs > span i,
.tabs > span {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.tabs > input:hover + span {
	background: rgba(255,255,255,.1);
}

.tabs > input:checked + span {
	background: #fff;
}

.tabs > input:checked + span,
.tabs > input:hover + span {
	color: #3498DB;
}

#tab-1, #tab-1 + span {
	left: 0;
	width:34%;
}

#tab-2, #tab-2 + span {
	left: 32%;
	width:34%;
}

#tab-3, #tab-3 + span {
	left: 66%;
	width:34%;
}


.tab-content {
	padding: 80px 20px 20px;
	width: 100%;
	min-height: 200px;
}

.tab-content section {
	width: 100%;
	display: none;
}

.tab-content section h1 {
	margin-top: 15px;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
}

#tab-1:checked ~ .tab-content #tab-item-1  {
	display: block;
}

#tab-2:checked ~ .tab-content #tab-item-2  {
	display: block;
}

#tab-3:checked ~ .tab-content #tab-item-3  {
	display: block;
}

/* effect-1 */

.effect-1 > input:checked + span {
	background: #fff;
}
