{% extends "todoapp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
login
{% endblock title %}

{% block content %}

<div class="login">
            <form action="" method="POST" class="p-3 border border-2">
                {% csrf_token %}
                <div class="Login-Header">
                    <h4 class="mb-5">Login</h4>
                </div>
                {{form|crispy}}
                <div class="loginbtn">
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                </div>
                
            </form>
            <div class=log_in> 
                <span>Dont have an account yet?</span> 
                <a href="{% url 'register' %}"> <i class="fa fa-hand-o-right" aria-hidden="true"></i>Register</a> 

            </div>
</div>

{% endblock content %}
