{% extends "todoapp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
login
{% endblock title %}

{% block content %}


<a class="brand-logo" href="{% url 'main' %}">
    <img class="logo" src="{% static 'Logo.svg' %}">
    <div class="brand-logo-name"><strong> ToDo </strong> </div>
</a>

<div class="login">

            <form action="" method="POST" class="p-3 border border-2">
                {% csrf_token %}
                <div class="Login-Header">
                    <h4 class="mb-5">Login</h4>
                </div>
                {{form|crispy}}
                <div class="loginbtn">
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                </div>
                
            </form>
            <div class=logged_in> 
                <span>Dont have an account yet?</span> 
                <a href="{% url 'register' %}"> <i class="fa fa-hand-o-right" aria-hidden="true"></i>Register</a> 

            </div>
</div>

{% endblock content %}
