{% extends "todoapp/base.html" %}

{% load static %}

{% block title %}
 Main
{% endblock title %}

{% block content %}


<div class="Home">

  <a class="brand-logo" href="{% url 'main' %}">
  <img class="logo" src="{% static 'Logo.svg' %}">
  <div class="brand-logo-name"><strong> ToDo </strong> </div>
  </a>


  <div class="call-to-action">
      <h1 class="title">Achieve all your daily and weekly objectives in timely fashion <i class="fa fa-clock-o" aria-hidden="true"></i></h1>
      <h3 class="subtitle"> <strong>ToDo</strong> makes it easy to create and organize your tasks </h3>
      <a href="{% url 'login' %}" class="btn">Let’s get started</a>
  </div>

</div>
  <!--
<section class="home-main-section ">
  
 <div class="homepage-icon-1">
    <img src="{% static 'Logo.svg' %}">
  </div>


</section>
-->

{% endblock content %}
