{% extends "todoapp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    category
{% endblock title %}
  
{% block content %}

    <div django-app="TaskManager" class="categories" >        
        <div class="container">
                <div class="content">
                        <div class="welcome">
                            <p>Manage Your ToDo List</p>
                        </div>

                    <form action="" method="post">
                            {% csrf_token %} <!-- csrf token for security -->
                                <div class="inputContainer">
                                    <label for="description">Task : </label>
                                    <input type="text" id="description" class="taskName" placeholder="What do you need to do?" name="description" required>
                                
                                </div>
                                <div class="inputContainer choice ">
                                    
                                    <label for="category">Category :  </label>
                                    <select id="category" class="taskCategory" name="category_select">
                                    <option class="disabled" value="">Choose a category</option>
                                    {% for category in categories %}
                                        <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                                    {% endfor %}
                                    </select>
                                    <!-- <i class="fa fa-caret-down selectArrow"></i> -->
                                    
                                </div>

                                <div class="inputContainer  time">
                                    <label for="Time-allocated">Time : </label>
                                    <input type="time" id="Time-allocated" class="taskTime" name="time">
                                </div>
                            
                                <div class="inputContainer  date ">
                                    <label for="dueDate">Date : </label>
                                    <input type="date" id="dueDate" class="taskDate" name="date">
                                </div>   
                                <div class="buttons">
                                    <button class="taskAdd btn" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                                    <!-- <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button> -->
                                </div> 
                                <ul class="taskList">
                                    {% for todo in todos %} 
                                        <li class="taskItem">
                                            <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}" >
                                            <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                                            <span class="taskDone" >at</span>
                                            <strong class="taskTime taskDone"><i class="fa fa-clock-o"></i> {{ todo.time }}</strong>
                                            <strong class="taskDate taskDone"><i class="fa fa-calendar"></i> {{ todo.due_date }}</strong>
                                            <span class="categorypage-{{ todo.category }}">{{ todo.category }}</span>
                                            <button class="taskDelete " name="taskDelete" formnovalidate="" type="submit" ><i class="fa fa-trash-o icon"></i></button>
                                        </li>
                                    {% endfor %}
                                </ul><!-- end taskList -->                 
                    </form>
 
                  
                </div><!-- end content -->
                {% if check %}
                <div class="alert alert-warning" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{check}}
                </div>
                {% endif %}
            <!-- <form action="" method='POST'>

                {% csrf_token %}
                {{search_form| crispy}}
        
                <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Create New Todo</button>
            </form> -->
        </div><!-- container -->
    </div>
    <div class="done">
        <a href="{% url 'todolist:my_todos' %}" class="btn btn-primary mt-3"> Back to Home </a>
    </div>

{% endblock content %} 